<p id="notice"><%= notice %></p>
<div class="container">
<h1 class="display-3">Security And Privacy Vulnerabilities</h1>

<div class="table-responsive">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th style="text-align:center; width: 50px;">Product</th>
      <th style="text-align:center; width: 50px;">Cve</th>
      <th style="text-align:center; width: 100px;">Severity</th>
      <th style="text-align:center; width: 200px;">Description</th>
      <th style="text-align:center; width: 200px;">Advisories</th>
      <th colspan="0" style="text-align:center; width: 400px;">Controllers</th>
    </tr>
  </thead>

  <tbody>
    <% @security_and_privacy_vulnerabilities.each do |security_and_privacy_vulnerability| %>
      <tr>
        <td style="text-align:center"><%= security_and_privacy_vulnerability.product_id %></td>
        <td style="text-align:center"><%= security_and_privacy_vulnerability.cve_id %></td>
        <td style="text-align:center"><%= security_and_privacy_vulnerability.severity %></td>
        <td style="text-align:center"><%= security_and_privacy_vulnerability.description %></td>
        <td style="text-align:center"><%= security_and_privacy_vulnerability.advisories %></td>
        <td style="text-align:center"><%= link_to 'Show', security_and_privacy_vulnerability, :class => "badge badge-dark" %>
        <%= link_to 'Edit', edit_security_and_privacy_vulnerability_path(security_and_privacy_vulnerability) , :class => "badge badge-dark"%>
        <%= link_to 'Destroy', security_and_privacy_vulnerability, method: :delete, data: { confirm: 'Are you sure?' }, :class => "badge badge-dark" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<div class="buttons">
<button type="button" class="btn btn-dark"><%= link_to 'New Security And Privacy Vulnerability', new_security_and_privacy_vulnerability_path %></button>
</div>

</div>