<p id="notice"><%= notice %></p>

<h1 class="display-1">Products</h1>
<div class="container">


<form method="GET">
<div>
<label>name</label>
<input name="name" type="search"/>
</div>

<div>
<label>manufacturer #</label>
<input name="manufacturer" type="search"/>
</div>

<div>
<label>barcode</label>
<input name="barcode" type="search"/>
</div>
<button type="submit">search</button>
</form>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Barcode</th>
      <th scope="col">Manufacturer</th>

    </tr>
  </thead>
  <tbody id="home" data-spy="scroll" data-target=".navbar" data-offset="100">
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.barcode %></td>
        <td><%= product.manufacturer_id %></td>
        <td class="badge badge-dark"><%= link_to 'Show', product %></td>
        <td class="badge badge-dark"><%= link_to 'Edit', edit_product_path(product) %></td>
        <td class="badge badge-dark"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>
<div class="buttons">
<button type="button" class="btn btn-dark btn-lg"><%= link_to 'New Product', new_product_path %></button>
<button type="button" class="btn btn-dark btn-lg"><%= link_to 'Go to Manufacturers Page', manufacturers_path %></button>
<button type="button" class="btn btn-dark btn-lg"><%= link_to 'Go to Security And Privacy Vulnerabilities Page', security_and_privacy_vulnerabilities_path %></button>
</div>

