<p id="notice"><%= notice %></p>
<div class="container">
<h1 class="display-3">Manufacturers</h1>

<div class="table-responsive">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th style="text-align:center">Name</th>
      <th style="text-align:center">Street address</th>
      <th style="text-align:center">City</th>
      <th style="text-align:center">State</th>
      <th style="text-align:center">Postal code</th>
      <th style="text-align:center">Country or region</th>
      <th style="text-align:center">Phone</th>
      <th style="text-align:center">Email</th>
      <th colspan="0" style="text-align:center; width: 200px;">Controllers</th>
    </tr>
  </thead>

  <tbody id="table">
    <% @manufacturers.each do |manufacturer| %>
      <tr>
        <td scope="col" style="text-align:center"><%= manufacturer.name %></td>
        <td scope="col" style="text-align:center"><%= manufacturer.street_address %></td>
        <td scope="col" style="text-align:center"><%= manufacturer.city %></td>
        <td scope="col" style="text-align:center"><%= manufacturer.state %></td>
        <td scope="col" style="text-align:center"><%= manufacturer.postal_code %></td>
        <td scope="col" style="text-align:center"><%= manufacturer.country_or_region %></td>
        <td scope="col" style="text-align:center"><%= manufacturer.phone %></td>
        <td scope="col" style="text-align:center"><%= manufacturer.email %></td>
        <td style="text-align:center"><%= link_to 'Show', manufacturer, :class => "badge badge-dark" %>
            <%= link_to 'Edit', edit_manufacturer_path(manufacturer), :class => "badge badge-dark" %>
            <%= link_to 'Destroy', manufacturer, method: :delete, data: { confirm: 'Are you sure?' }, :class => "badge badge-dark" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<div class="buttons">
<button type="button" class="btn btn-dark"><%= link_to 'New Manufacturer', new_manufacturer_path %></button>
</div>

</div>